@import "./shared/colors";
@import "./shared/mixins";
$color-primary: rgb(20, 30, 121);
$color-primary-light: #2199d1;
$color-primary-dark: rgb(27, 27, 68);
$color-grey-dark: #777;
// // PAGES
@import "./index";
@import "./portfolios";
@import "./blogs";
@import "./about";
@import "./cv";

// // COMPONENTS
@import "./header";
@import "./slate-editor";
@import "./index";
@import "./footers";
@import "./button";

html,
body {
  // font-size: 62.5%;
  height: 100%;
  width: 100%;
  font-family: "Helvetica";
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}

.base-page {
  padding: 150px 0 100px 0;
  color: white;
  background-image: linear-gradient(
      to right bottom,
      rgba(#1925d8, 0.62) 0%,
      rgba(#0b7a62, 0.62) 100%
    ),
    url("../public/static/images/test1.jpg ");
  background-size: cover;
  min-height: 100vh;

  .page-header {
    text-align: center;
    .page-header-title {
      // font-size: 3rem;
      font-weight: 700;
      color: whitesmoke;
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
      margin-top: 5rem;
    }
  }
}
